@import 'utilities';
@import 'config';

.form-control {
  cursor: pointer;
  transition: all 0.5s ease-in;
  padding: 4px;
  height: 25px;
  width: 250px;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ced4da;

  &-lg {
    height: calc(1.5em + 1rem + 2px);
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
  }
}

select:hover {
  height: 3.5rem;
}

/* reset browser defaults */
body {
  font: 1rem 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

header {
  background: #35424a;
  color: #fff;
  padding-top: 2.5rem;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;

  & a:hover {
    color: #ccc;
  }
  & a {
    color: #e8491d;
    text-decoration: none;
    /* text-transform: uppercase; */
    font-size: 1rem;
  }
}

h3 {
  margin: 0;
  text-align: center;
}
